section.set {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

article.gallery h2 {
  margin-left: 0em;
  margin-bottom: 0.5em;
}

div.image {
  position: relative;
  width: 100%;
}

div.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:1;
}

div.image img {
  display: block;
  width: 100%;
}

#imageView {
  position: fixed;
  top: 50%;
  left: 50%;
  padding-bottom: 1em;
  text-align: center;
  display: none;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  opacity: 1;
}

#imageView img {
  width: 100%;
  display:table-row;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

#imageView p {
  display:table-row;
  background-color: #fff;
  opacity: 0;
}

#pageOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 30;
}

.blur {
  filter:blur(1rem);
  -o-filter:blur(1rem);
  -ms-filter:blur(1rem);
  -moz-filter:blur(1rem);
  -webkit-filter:blur(1rem);
}
