body {
  font-family: 'Ubuntu', monospace;
  font-size: 22px;
  color: #fff;
  background-color: #000;
  max-width: 93%;
  margin: auto;
  transition: all 0.5s ease;
  overflow: auto;
  position: relative;

  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  opacity: 1;
  transition: 0.5s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}

hr {
  border: 0.1em solid #888;
  border-radius: 1pt;
  margin-top: 0.3em;
  margin-bottom: 0.3em
}

header {
  text-align: center;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  margin-top: 0em;
  padding-top: 0.4em;
  top: 0em;
  background-color: #000;
  text-align: center;
  font-size: 0;
}

nav a {
  padding: 0.1em 0.1em 0.1em 0.1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

a.navbar {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

a.current {
  color: #fff;
  background-color: #000;
  text-decoration: underline;
  text-decoration-color: #fff;
}

a.navbar:hover {
  color: #fff;
  background-color: #000;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0%;
  width: 93%;
}

.icon {
  width: 50px;
}
